body {
    color: skyblue;
    text-align: center;
    font-family: verdana;
    font-size: 130%;
    
}

td {
    height: 30px;
    width: 30px;
    color: grey;
    border: skyblue 2px solid;
}

table {
    border: steelblue 5px solid;
    margin: auto;
}